@import "tailwindcss";

@theme {
    --font-sans: "Inter Variable", sans-serif;
    --font-serif: "Merriweather Variable", serif;

    --color-seasalt: #f9f9f9;
    --color-night: #111111;
    --color-berkeley: #003366;
    --color-brick: #B22222;
}